[tool.poetry]
name = "sheet-loader"
version = "1.1.2"
description = "Description"
authors = ["Daniel Sullivan <mumblepins@users.noreply.github.com>"]
license = "LGPL-3.0-or-later"
repository = "https://github.com/mumblepins/sheet-loader/"
documentation = "https://mumblepins.github.io/sheet-loader/"
readme = "README.md"
packages = [{ include = "sheet_loader", from = "src" }]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
pandas = { version = "*", optional = true }
chardet = "*"

[tool.poetry.group.dev.dependencies]
pylint = "^2.13.0"
pytest = "^7.1.1"

coverage = "^6.3.2"
pre-commit = "^2.15.0"
Sphinx = "^5.0"
sphinx-rtd-theme = "^1.0"
pytest-cov = "^3.0.0"
pylint-pytest = "^1.1.2"
pytest-xdist = "^2.5.0"
myst-parser = "*"

importlib-resources = { version = "^5.7.1", python = "<3.9" }
bump2version = "^1.0.1"



[tool.poetry.extras]
pandas = ['pandas']

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ['py39']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | \.cache
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''
